@model BlogAppV1.ViewModels.FriendVms.CombinedFriendsVm

<div id="friendListSelector" class="p-2 m-2 mt-0">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"
               name="exampleRadios" id="rad" value="mainFriendsList" checked>
        <label class="form-check-label" for="exampleRadios1">
            All
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"
               name="exampleRadios" id="rad" value="mainFriendsList" >
        <label class="form-check-label" for="exampleRadios1">
            Friends
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"
               name="exampleRadios" id="exampleRadios1" value="receivedRequestsList">
        <label class="form-check-label" for="exampleRadios1">
            Received
        </label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio"
               name="exampleRadios" id="exampleRadios1" value="sentRequestsList">
        <label class="form-check-label" for="exampleRadios1">
            Sent
        </label>
    </div>
</div>
<div id="friendListDisplay" class="m-2 mt-1 p-2">
    @if (Model.FriendsList.Any())
    {
        <span>Friends</span>
        foreach(var fr in Model.FriendsList)
        {
        <a class="dropdown-item" asp-controller="UserInfo"
           asp-action="ProfileOf" asp-route-username="@fr.FriendUsername">
            @if(fr.FriendPhoto != null && fr.FriendPhoto != 0)
            {
                <img src="@Url.Action("GetPhoto", "Media", new { photoId = fr.FriendPhoto })"
                     class="img-thumbnail"/>
            }
            <span>
                @fr.FriendUsername
            </span>
        </a>
        } 
    }
    
    @if (Model.ReceivedRequestsList.Any())
    {   
        <div class="dropdown-divider"></div>
        <span>Pending</span>
        foreach(var fr in Model.ReceivedRequestsList)
        {
        <div class="dropdown-item req_@fr.SenderId">
            <img alt="pz" />
            <span>
                <a asp-controller="UserInfo"
                   asp-action="ProfileOf" asp-route-username="@fr.SenderUsername">
                    <img alt="pz" />
                    <span>
                        @fr.SenderUsername
                    </span>
                </a>
            </span>
            <span class="btn-group-sm">
                <button id="confirm_@fr.SenderId" 
                        class="btn btn-outline-success rounded-circle confirmReq">
                    C
                </button>
                <button id="decl_@fr.SenderId" 
                        class="btn btn-outline-danger rounded-circle declineReq">
                    D
                </button>
            </span>
        </div>
        }
    }
</div>