@model IEnumerable<BlogAppV1.ViewModels.BlogStuff.SmallSectionVm>

@foreach(var sect in Model)
{
    <div class="col-3 mb-1 overflow-auto" style="max-height: 40vh; overflow:scroll; overflow-x: hidden">
        <div class="card">
            <div class="card-header">
                <a asp-controller="Section" asp-action="SectionDetails" asp-route-sectId="@sect.Id">
                    <h4 class="text-dark text-capitalize">
                        @sect.Title.Trim()
                    </h4>
                </a>
            </div>
            <div class="">
                <div>
                    @foreach (var post in sect.Posts)
                    {
                        <div class="card mt-2 border-dark rounded overflow-auto">
                            <a asp-controller="Post" asp-action="PostWith" asp-route-postId="@post.Id">
                                <h5 class="card-text text-info text-decoration-none text-left p-1">
                                    @post.Title.Trim()
                                </h5>
                            </a>
                            <hr />
                            <p class="text-secondary text-left p-2">
                                @post.Body.Trim()
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}