@{ 
    ViewData["Title"] = "PostView";
}

@model BlogAppV1.ViewModels.PostVms.PostDetailsVm


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    <div class="card border-danger m-2 p-2">
        <div class="card-body text-dark">
            <h2 class="text-capitalize card-title">
                @Model.Title
            </h2>
            <h6 class="card-subtitle">
                posted on @Model.Date.Date.ToShortDateString() by @Model.OwnerUsername
            </h6>
            <hr />
            <p class="card-text">
                @Model.Body
            </p>
        </div>
    </div>
</body>
</html>
