@{ 
    ViewData["Title"] = "PostView";
}

@model BlogAppV1.ViewModels.PostVms.PostDetailsVm

@*@inject BlogAppV1.Entities.DTOs.CurrentUserDto CurrentUser*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Title</title>
</head>
<body>
    <div class="card border-danger m-2 p-2 mb-0">
        <div class="card-body text-dark">
            <h2 class="text-capitalize card-title">
                @Model.Title
            </h2>
            <h6 class="card-subtitle">
                posted on @Model.Date.Date.ToShortDateString() by @Model.OwnerUsername
            </h6>
            <hr />
            <p class="card-text">
                @Model.Body
            </p>
        </div>
    </div>

    <div class="container justify-content-center">
        <div id="commentsBox" class="card border-info w-100">
            <div class="card-header">
                <h5 class="text-muted">
                    Comments
                </h5>
            </div>
            <ul class="commentsList list-group list-group-flush w-100">
                @foreach (var comm in Model.Comments)
                {
                    <li class="border-dark text-dark p-2 m-2 list-group-item rounded">
                        <h5>
                            @comm.CommenterId
                        </h5>
                        @if (comm.ElapsedTime.TotalSeconds < 60)
                        {
                            <p class="text-muted">
                                @comm.ElapsedTime.Seconds seconds ago
                            </p>
                        }
                        else if (comm.ElapsedTime.TotalMinutes < 60)
                        {
                            <p class="text-muted">
                                @comm.ElapsedTime.Minutes mins ago
                            </p>
                        }
                        else if (comm.ElapsedTime.TotalHours < 24)
                        {
                            <p class="text-muted">
                                @comm.ElapsedTime.Hours hours ago
                            </p>
                        }
                        else if (comm.ElapsedTime.TotalDays < 7)
                        {
                            <p class="text-muted">
                                @comm.ElapsedTime.Days days ago
                            </p>
                        }
                        else if (comm.ElapsedTime.TotalDays < 31)
                        {
                            <p class="text-muted">
                                @(comm.ElapsedTime.Days / 7) weeks ago
                            </p>
                        }
                        else if (comm.ElapsedTime.TotalDays <= 365)
                        {
                            <p class="text-muted">
                                @(comm.ElapsedTime.Days / 30) months ago
                            </p>
                        }
                        else
                        {
                            <p class="text-muted">
                                @(comm.ElapsedTime.Days / 365) years ago
                            </p>
                        }
                        <div class="d-block">
                            <p>
                                @comm.Body
                            </p>
                        </div>
                    </li>
                }
            </ul>
            <div class="card-footer">
                <input type="text" id="newCommentBody" name="writeCommentBox" 
                       placeholder="Write a comment..." class="border-dark rounded w-75"/>
                <button id="addCommentBut" name="@Model.Id">
                    <img src="/images/right-black-arrow-hi.png" alt="AddComment" width="20" height="20"/>
                </button>
                <input type="hidden" id="addCommentAction"
                       data-add-comment-url="@Url.Action("AddComment", "Post")" 
                       @*data-commenterId="@CurrentUser.Id"*@
                       />
            </div>
        </div>
    </div>

</body>
</html>
