@{
    ViewData["Title"] = "Blogs By user";
}

@model BlogAppV1.ViewModels.UserBlogVms.BlogListVm

@inject BlogAppV1.Entities.DTOs.CurrentUserDto CurrentUser

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blogs of @Model.Username</title>
</head>
<body>
    <div class="row">
        <div class="col-12">
            <h1 class="d-flex justify-content-center">
                Blogs owned by @Model.Username.Trim()
            </h1>
        </div>
        <div class="col-12">
            @foreach (var blog in Model.BlogList)
            {
                <div class="row mb-5 position-relative">
                    <div class="card col-12 border-light rounded m-2" style="background-color: transparent">
                        @if (blog.PhotoId != 0 && blog.PhotoId != null)
                        {
                            <img src="@Url.Action("GetPhoto", "Media", new { photoId = blog.PhotoId })" alt="blogPhoto"
                                 class="card-img position-absolute card-img-overlay" style="opacity: 0.3; max-height: 100%;"/>
                        }
                        <div class="row">
                            <div class="col-12 card-header border-white">
                                <a asp-controller="Blog" asp-action="ShowBlogWith"
                                   asp-route-blogId="@blog.Id" class="text-center">
                                    <h2 class="text-white">
                                        @blog.Title.Trim()
                                    </h2>
                                </a>
                            </div>
                            <div class="col-12 card-body text-center">
                                <div class="row d-flex justify-content-around">
                                    @await Component.InvokeAsync("SmallBlog", new { blogId = blog.Id })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>



