@{
    ViewData["Title"] = "Profile Page";
}

@model BlogAppV1.ViewModels.UserInfoVm


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.Username's profile</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="flex-column col-md-2">
                <ul class="list-unstyled">
                    <li>
                        <h1>User Info</h1>
                    </li>
                    <li>
                        <a asp-action="BlogsOfUId" asp-controller="UserBlog"
                           asp-route-userId="@Model.Id">
                            Blogs
                        </a>
                    </li>
                    <li>
                        @{
                            switch (Model.FriendState)
                            {
                                case 3:
                                    <button class="btn btn-outline-danger btn-sm" id="unfriendBut"
                                            name="@Model.Id"
                                            data-unfriend-url="@Url.Action("Unfriend", "Friends")">
                                        Unfriend
                                    </button>
                                    break;
                                case 2:
                                    <button id="confirm_@Model.Id"
                                            class="btn btn-outline-success rounded-circle confirmReq">
                                        Confirm
                                    </button>
                                    <button id="decl_@Model.Id"
                                            class="btn btn-outline-danger rounded-circle declineReq">
                                        Decline
                                    </button>
                                    break;
                                case 1:
                                    <button class="btn btn-outline-secondary btn-sm" id="removeFrReqBut"
                                            name="@Model.Id"
                                            data-remove-req-url="@Url.Action("RemoveRequest", "Friends")">
                                        Remove Request
                                    </button>
                                    break;
                                case 0:
                                    <button class="btn btn-outline-primary btn-sm sendFrReqBut"
                                            name="@Model.Id">
                                        Add Friend
                                    </button>
                                    break;
                            }
                        }
                    </li>
                    <li>
                        Block
                    </li>
                    <li>
                        Report Account
                    </li>
                </ul>
            </div>
            <div class="flex-column col-md-10">
                <form asp-action="UpdateInfo" asp-controller="UserInfo" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <h2 class="text-dark">@Model.Username</h2>
                        <span asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <h2 class="text-dark">@Model.Email</h2>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthdate" class="control-label"></label>
                        <h2 class="text-dark">@Model.Birthdate?.Date.ToShortDateString()</h2>
                        <span asp-validation-for="Birthdate"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
