@{ 
    ViewData["Title"] = "Section details";
}

@model BlogAppV1.ViewModels.SectionVms.DetailedSectionVm

@inject BlogAppV1.Entities.DTOs.CurrentUserDto CurrentUser

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        @Model.Name
    </title>
</head>
<body>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="flex-column text-center">
                <h1 class="text-capitalize text-center">
                    @Model.Name
                </h1>
            </div>
        </div>
        <div class="row justify-content-start">
            @foreach(var post in Model.Posts)
            {
                <div class="row card border-danger m-2 p-2 w-100 text-dark">
                    <div class="card-title">
                        <h3 class="text-capitalize card-title">
                            <a asp-controller="Post" asp-action="PostWith" asp-route-postId="@post.Id" class="text-decoration-none">
                                @post.Title
                            </a>
                        </h3>
                        <h5 class="card-subtitle">
                            posted on @post.Date.Date.ToShortDateString()
                        </h5>
                    </div>
                    <hr />
                    <p class="card-text text-muted">
                        @post.Body
                    </p>
                </div>
            }
            @if(CurrentUser.IsAuthenticated && int.Parse(CurrentUser.Id) == Model.OwnerId)
            {
                // pot sa adaug postari
            }
        </div>
    </div>
</body>
</html>
