@{
    ViewData["Title"] = "Section details";
}

@model BlogAppV1.ViewModels.SectionVms.DetailedSectionVm

@inject BlogAppV1.Entities.DTOs.CurrentUserDto CurrentUser

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        @Model.Name
    </title>
</head>
<body>
    @if (Model.PhotoId != null && Model.PhotoId != 0)
    {
        <img src="@Url.Action("GetPhoto", "Media", new { photoId = Model.PhotoId })"
             class="position-fixed fixed-top w-100 h-100" style="opacity: 0.3; z-index: -5;" />
    }
    <div class="row justify-content-center" style="z-index: 2;">
        <div class="col-12 justify-content-center">
            <h1 class="d-flex justify-content-center text-capitalize text-white">
                @Model.Name
            </h1>
            <span class="d-flex justify-content-center">
                <a asp-controller="Blog" asp-action="ShowBlogWith" asp-route-blogId="@Model.BlogId"
                   class="btn btn-sm btn-success">
                    Go to Blog
                </a>
            </span>
            
        </div>

        @if (CurrentUser.IsAuthenticated)
            if (int.Parse(CurrentUser.Id) == Model.OwnerId
                || User.IsInRole("Admin"))
            {
                <div class="col-12">
                    <div class="dropdown postImg">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="postImgDropdownBut" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Settings
                        </button>
                        <div class="dropdown-menu" aria-labelledby="postImgDropdownBut">
                            <a class="dropdown-item">
                                <form asp-action="AddSectPhoto" asp-controller="Media" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="file" accept="image/*" class="form-control"
                                               id="inputImgToLoad" name="img" />
                                        <input type="hidden" value="@Model.Id" name="sectId" />
                                        <input type="submit" class="btn btn-sm btn-primary" value="Change background" />
                                    </div>
                                </form>
                            </a>

                            <a id="s_@Model.Id" class="removeSection btn btn-sm btn-danger dropdown-item">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            }
        <div class="row justify-content-start">
            @foreach (var post in Model.Posts)
            {
                <div class="col-12 card border-danger m-2 p-2 w-100 text-dark">
                    <div class="card-title">
                        <h3 class="text-capitalize card-title">
                            <a asp-controller="Post" asp-action="PostWith"
                               asp-route-postId="@post.Id" class="text-decoration-none text-dark">
                                @post.Title
                            </a>
                        </h3>
                        <span class="clearfix float-right">
                            @if (CurrentUser.IsAuthenticated)
                                if (int.Parse(CurrentUser.Id) == Model.OwnerId
                                    || User.IsInRole("Admin"))
                                {
                                    <button id="p_@post.Id" class="removePost btn btn-sm btn-outline-danger">
                                        Delete
                                    </button>
                                }
                        </span>
                        <h6 class="card-subtitle text-muted">
                            posted on @post.Date.Date.ToShortDateString()
                        </h6>
                    </div>
                    <hr />
                    <p class="card-text text-dark">
                        @post.Body
                    </p>
                </div>
            }
            @if (CurrentUser.IsAuthenticated && int.Parse(CurrentUser.Id) == Model.OwnerId)
            {
                <div id="newShortPost" class="card border-danger m-2 p-2 w-100 text-dark">
                    <div class="card-title">
                        <h3 id="newTitle" contenteditable="true" class="text-capitalize card-title text-decoration-none border-dark">
                        </h3>
                    </div>
                    <hr />
                    <p id="newBody" class="card-text text-muted text-decoration-none border-dark" contenteditable="true">

                    </p>
                    <button id="addNewPostBut" name="@Model.Id" class="btn btn-secondary clearfix w-25 float-right">
                        Post It!
                    </button>
                    <input type="hidden" id="addNewPostAction" data-add-new-post-url="@Url.Action("AddPost", "Post")" />
                </div>
            }
        </div>
    </div>
</body>
</html>
