<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta id="searchMeta" data-search-url="@Url.Action("SearchWith", "Search")" />
    <meta id="reactMeta" data-reacts-url="@Url.Action("GetAllAvailableReactions", "Reactions")" />
    <meta id="goToUserPageMeta" data-user-page-url="@Url.Action("ProfileOf", "UserInfo")" />
    <meta id="goToBlogPageMeta" data-blog-page-url="@Url.Action("ShowBlogWith", "Blog")" />
    <meta id="goToSectionMeta" data-sect-page-url="@Url.Action("SectionDetails", "Section")"/>

    <meta id="removeSectMeta" data-del-sect-url="@Url.Action("RemoveSection", "Section")"/>
    <meta id="removeCommMeta" data-del-comm-url="@Url.Action("RemoveComment", "Post")"/>
    <meta id="removePostMeta" data-del-post-url="@Url.Action("RemovePost", "Post")" />

    <title>@ViewData["Title"] - BlogAppV1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BlogAppV1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div id="nuInteleg" class="container justify-content-center">
                                <div id="searchResultContainer" class="dropdown-menu">
                                    Results
                                </div>
                                <button id="dropDownToggle" class="btn btn-secondary btn-lg dropdown-toggle" hidden
                                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                            </div>
                            <input id="searchBar" type="text" name="searchBar" placeholder="Search..." />
                            
                        </li>
                        <li class="nav-item ml-sm-auto">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - BlogAppV1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
