@model BlogAppV1.ViewModels.DetailedBlogVm

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit @Model.Title</title>
</head>
<body>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="flex-column text-center">
                <h1 class="text-capitalize text-center" id="title" contenteditable="true">
                    @Model.Title
                </h1>
                <h3 class="text-muted font-weight-lighter">
                    from @Model.OwnerUsername
                </h3>
            </div>
        </div>
        <div>
            <div class="row justify-content-center" id="sectionsContainer">
                @foreach (var sectId in Model.SectionsIds)
                {
                    <div class="col border-info rounded m-3">
                        @*<vc:MainScreenSection id="@sectId">
                        </vc:MainScreenSection>*@
                        @await Component.InvokeAsync("MainScreenSection", 
                                    new { id = sectId, blogId = Model.BlogId, IsEditable = true })
                    </div>
                }
            </div>
            <button id="newSectBut" class="p-2 m-2 border rounded">
                Add a new section
            </button>
            @*<form asp-controller="Blog" asp-action="ShowBlogWith" asp-route-id="@Model.BlogId" method="get">
                <button id="saveChangesBut" name="@Model.BlogId" class="p-2 m-2 border rounded but but-primary" data->
                    Save changes
                </button>
            </form>*@
            <button id="saveChangesBut" name="@Model.BlogId">
                Save Changes
            </button>
            <input type="hidden" id="saveChangesAction" 
                   data-register-section-url="@Url.Action("AddSection", "Section")" 
                   data-redirect-to-blog="@Url.Action("ShowBlogWith", "Blog", new { id = Model.BlogId })"/>
            <input type="hidden" id="saveBlogTitleAction" data-update-blog-title-url="@Url.Action("UpdateTitle", "Blog")" />
        </div>
    </div>
</body>
</html>
